header h1{
  text-align: center;
}

body {
  background: #838383;
}

body .container {
  padding: 25px;
  border-radius: 10px;
  background: #fcfcfc;
}
.film_container {
  margin-top: 25px;
  display: table;
  width: 100%;
}
.film_block {
  padding: 25px;
  border: 1px solid black;
}
.film_block h2 {
  text-align: center;
}
.film_block img {
  max-width: 100%;
  max-height: 300px;
  margin: 0 auto;
  display: table;
}
.film_block {
  display: table;
  float: left;
  width: 50%;
  height: 400px;
}
.modal-dialog {
  background: #fff;
  border-radius: 10px;
  padding: 25px;
}
.modal-dialog img {
  max-height: 200px;
  margin: 0 auto;
  display: table;
}
.modal-dialog h2 {
  text-align: center;
}